.book {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.book__image {
	background-color: rgba(235, 229, 229, 0.5);
	width: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 40px 0;
	margin: 0 40px 40px 0;
}

.book__image img {
	object-fit: fill;
	box-shadow: 15px 15px 15px rgb(163, 162, 162);
}

.book__info {
	width: 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 30px;
}

.book__category {
	color: rgba(188, 187, 185, 0, 5);
}

.book__title {
	font-size: 25px;
	font-weight: bold;
}

.book__author {
	font-size: 13px;
	font-weight: normal;
	text-decoration: underline;
}

.book__description {
	border: 1px solid black;
	height: 200px;
	max-width: 500px;
}