.container {
  font-family: sans-serif;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

select {
  border-radius: 20px;
  text-align: center;
}

.search-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 0 0 20px 0;
  background-color: rgba(62, 16, 78, 0.3);
  width: 100%;
}

.search-panel h3 {
  font-size: 30px;
  line-height: 0;
  color: white;
}

.search-panel input {
  padding: 10px;
  font-size: 20px;
  width: 40%;
  text-align: center;
}



.search-panel button {
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
}


.list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.list__item {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: rgba(183, 179, 179, 0.3);
  padding: 20px 10px 10px 10px;
}

.list__item .image {
  align-self: center;
  box-shadow: 8px 8px 8px rgba(163, 162, 162);
}

.list__item .categories {
  text-decoration: underline;
  color: rgb(135, 135, 135);
}


.list__item .title {
  font-weight: bold;
}

.list__item .authors {
  color: rgb(93, 92, 92);
}